body { 
    background: url('space.JPG') no-repeat center fixed;     
    background-size: cover;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: white;  
    text-shadow: 2px 2px 5px black;
}
main {
    margin: auto;
    text-align: center;
}
h3{
    font-size: 25px;
    text-decoration: underline;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #734C8B;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin: auto;
    margin-top: 10%;
}

.logoholder{
    width: 40em;
    margin: auto;
    text-align: center;
}
.logo{ 
    width: 50%;
    height: 50%;
    padding: 20px;
}
.graybox{
    background: rgba(211, 211, 211, 0.5);
    width: 40em;
    height: 25em;
    border-radius: 25px;
    margin: 0 auto;
    display: table
}

.resultsGraybox{
    margin: 0 auto;
    width: 45em;
    height: 25em;
}

.column {
    padding: 10px;
    display: inline;
    height: 70%;
    text-align: center;
}
.resultsColumn {
    padding: 10px;
    display: inline;
    min-height: 420px;
    text-align: center;
    background: rgba(211, 211, 211, 0.5);
    border-radius: 25px;
    position: relative;
}
.width100{ width: 100%;
    text-align: center;
    display: inline-block;
    padding-top: 10px;
}
.width50{ width: 45%;}
.height25{ 
    padding-top: 5%;
}
.left{
    float: left;
}
.right{
    float: right;
}
.button {
    background-color: #734C8B; /* Purple */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
    width: 33%;
    position: relative;
    bottom: -15px;
}

.resultsButton {
    background-color: #734C8B; /* Purple */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    position: absoluter
}

.showResultsButton {
    background-color: #734C8B;
    border: none;
    color: white;
    margin: 0.5em;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

.generateScriptButton {
    background-color: #734C8B;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    bottom: 30px;
    left: 66px;
    margin-top: 2.5em;
}

.button:hover{
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .7);
    background-color: #5f3f73;
}

.showResultsButton:hover{
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .7);
    background-color: #5f3f73;
}

.generateScriptButton:hover{
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .7);
    background-color: #5f3f73;
}

.top-spacer{
    margin-top: 1.5em;
}

input[type=text], [type=password] {
    width: 66%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=text]:hover, [type=password]:hover {
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .7);
    background-color: #bbb;
}
.label {
    font-size: 18px;
}
.row{
    margin-top: 1em;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    text-align: center;
 }
/* The container */
.container {
    display: inline;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    right: -2em;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .7);
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #734C8B;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: inline;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }
  .help-tip{
    position: relative;
    display: inline;
    cursor: default;
}
.help-tip:before{
    content: url(logos/hint.PNG);
}
.help-tip:hover p{
    display:block;
    transform-origin: 100% 0%;

    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;

}
.help-tip p{    /* The tooltip */
    display: none;
    text-align: left;
    background-color: #1E2021;
    padding: 20px;
    width: 300px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    color: #FFF;
    font-size: 13px;
    line-height: 1.4;
    z-index: 10;
}
.help-tip p:before{ /* The pointer of the tooltip */
    position: relative;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:#1E2021;
    right: 10px;
    top:-12px;
}
.help-tip p:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}
@-webkit-keyframes fadeIn {
    0% { 
        opacity:0; 
        transform: scale(0.6);
    }

    100% {
        opacity:100%;
        transform: scale(1);
    }
}
@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.select-css {
	display: block;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 700;
	color: #444;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 75%;
	max-width: 75%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
    background-color: #fff;
    margin: auto;
}
.single-select{
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
	display: none;
}
.select-css:hover {
	border-color: #888;
}
.select-css:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(115, 76, 139, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
.select-css option {
	font-weight:normal;
}

.top-Margin {
    padding-top: 1em;
}