extends layout

block layout-content

    .logoholder
        img.logo(src='logos/logo_transparent.PNG' alt='Astrum')
    
    .loader
        
    h2.ml2 Running Astrum Vulnerability Scan...
    p This may take a while... You may leave it running.
        
    
