extends layout

block layout-content
  div.View
    h1.Banner Astrum
    div.Message
      div.Title
        h1 Astrum Network Analysis
      span.Details Access the Astrum Network Analyzer
    div.NavButtons
      a(href="/user")
          div.NavButton Just dive in!