block variables
doctype html
html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon" href="logos/small_logo_transparent.PNG")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    title #{title} | Astrum
    link(rel="stylesheet" href="home.css")
  body
    div#root
      block layout-content


    
  .footer
    p
      | Astrum was created by Vincent Neiheisel, Brett Johnson, and Brenna Martz in 2020. Please see the Github page for more information regarding updates and issues. 
      a(href='https://github.com/Astrum-Group24/Astrum' target='_blank') https://github.com/Astrum-Group24/Astrum
