extends layout

block layout-content
  
  div.View
    
    div.Message
      
      div.Title
        
        h1 Astrum Network Analysis
      
        div.Body

          ul
            each val in records
              li: a(href = './reports/html/' + val)



      