extends layout

block layout-content
  
  div.View
    
    div.Message
      
      div.Title
        
        h1 Astrum Network Analysis
      
        div.Body          
          
          div.multiple-group
            form(method='POST' action='/')
              h3 Hosts Found
              select(id='host', name='host' size='6' multiple)
                each val in ipAddresses
                  option(value = val) #{val}
            
          div.form-group
            label(for='showReportButton')
            input(type='submit' value='Show Report')


          div.multiple-group
            form(method='POST' action='/')
              h3 Open Ports
              select(id='whitelist', name='whitelist' size='6' multiple)
                option(value="volvo") Volvo
                option(value="saab") Saab
                option(value="fiat") Fiat
                option(value="audi") Audi
                option(value="bmw") BMW

          div.form-group

            label(for='whitelistButton')
            input(type='submit' value='Whitelist Ports')

          
          div.link-list
          
            h3 Hosts Found:  
              
              ul

                each val, index in ipAddressesLink

                  li: a( href = val ) #{ipAddresses[index]}

          div.debugging

            a(href = './reports/2020-11-04-03-43-53/html/10.191.55.1.html') debug url